<%= form_for(@selfupdate) do |f| %>
  <% if @selfupdate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@selfupdate.errors.count, "error") %> prohibited this selfupdate from being saved:</h2>

      <ul>
      <% @selfupdate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
